@model IEnumerable<Milestones.Models.Jewelry>
@{ //ViewData["Title"] = "Список драгоценностей";
                Layout = null; }
<!DOCTYPE html>

<html>
<head>
    <title>Магазин драгоценностей</title>
</head>
<body>
    <h3>Драгоценности</h3>
    <table>
        <tr>
            <td>Название</td>
            <td>Цена</td>
            <td></td>
        </tr>
        @foreach (var jewelry in Model)
        {
<tr>
    <td>@jewelry.Name</td>
    <td>@jewelry.Price</td>
    <td><a href="~/Home/Buy/@jewelry.Id">Купить</a></td>
</tr>}
    </table>
</body>
</html>